$menu_gradient: linear-gradient(-45deg, rgba(250, 1, 5, 1) 0%, rgba(160, 0, 0, 1) 36%, rgba(27, 27, 27, 1) 36%);
$menu_item_light: #FFF;
$menu_item_gray: #969696;
$fast_link_item_gray: #BDBDBD;
$menu_item_dark: #000;
$footer_gray_bg: #1c1c1c;

$menu_bor_bot: #D60000;

.header {
	font-family: 'Montserrat';
	background: $menu-gradient;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	position: relative;
	height: 55px;

	.logo {
		width: 100px;
		height: 40px;
		background-image: url(../img/logo.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
	}

	.burger {
		display: none;
		width: 35px;
		height: 20px;

		@media (max-width:1080px) {
			display: block;
			position: absolute;
			//top: 0;
			right: 65px;
		}

		&.active {
			width: 30px;

			span {
				background-color: $menu_bor_bot;
			}

			span:nth-child(2n-1) {
				transform: rotate(-45deg);
				top: 50%;
			}

			span:nth-child(2) {
				transform: rotate(225deg);
				top: 50%;
			}
		}

		span {
			width: 100%;
			height: 3px;
			background-color: $menu_item_light;
			position: absolute;
			transition: all 0.2s;

			&:nth-child(1) {
				top: 0;
				left: 0;
			}

			&:nth-child(2) {
				top: 50%;
				transform: translateY(-50%);
				left: 0;
			}

			&:nth-child(3) {
				top: 100%;
				transform: translateY(-100%);
				left: 0;
			}
		}
	}

	.menu-block {
		transition: all 0.3s;
		opacity: 1;
		display: block;
		height: 100%;

		@media (max-width:1080px) {
			height: unset;
			position: absolute;
			top: -50%;
			background-color: $menu_item_dark;
			padding: 50px;
			right: 50px;
			opacity: 0;

			&:before {
				content: 'Меню';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 25px;
				font-family: 'Play';
				font-size: 25px;
				color: #fff;
			}

			&.active {
				//right: 50px;
				top: 0;
				opacity: 1;
			}
		}

		.menu {
			display: flex;
			justify-content: space-between;
			padding: 0;
			margin: 0;
			height: 100%;

			@media (max-width:1080px) {
				flex-direction: column;
				margin-top: 30px;
				text-align: center;
			}

			&-item {
				a {
					border-bottom: 2px solid transparent;
				}

				&-light {
					a {
						color: $menu_item_light;
					}

					&:hover {
						a {
							border-bottom: 2px solid $menu_bor_bot;
						}
					}
				}

				&-dark {
					&:nth-child(6) {
						margin-left: 70px;

						@media (max-width:1080px) {
							margin: unset;
							margin: 10px 0; //! должно совпадать с общими стилями для li (чуть ниже)
						}
					}

					a {
						color: $menu_item_dark;

						@media (max-width:1080px) {
							color: $menu_item_light;
						}

						@media (max-width: 1290px) {
							font-size: 10px;
						}
					}

					&:hover {
						a {
							border-bottom: 2px solid $menu_item_dark;

							@media (max-width:1080px) {
								border-bottom: 2px solid $menu_bor_bot;
							}
						}
					}
				}

				font-weight: 600;
				font-size: 13px;
				text-transform: uppercase;
			}

			&>li {
				position: relative;
			}

			li {
				list-style: none;
				margin: 0 15px;
				//position: relative;
				//height: 100%;
				box-sizing: border-box;
				display: flex;
				align-items: center;

				@media (max-width: 1080px) {
					text-align: center;
					margin: 10px 0; //! ВОТ ТУТ
				}

				a {
					text-decoration: none;
					//height: 100%;
					display: flex;
					align-items: center;

					@media (max-width:1290px) {
						font-size: 10px;
					}
				}

				.drop-down {
					padding: 10px 0;
					position: absolute;
					top: 55px;
					left: 0;
					background-color: $footer_gray_bg;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					text-transform: none;
					display: none;
					//width: 300px;
					//min-height: 300px;

					.sub-menu {
						font-family: 'Play';
						font-weight: 500;
						position: relative;

						margin: 0;
						padding: 0;

						hr {
							margin: 0 auto;
							padding: 0;
							width: 90%;
							//height: 1px;
							border-color: $menu_item_gray;
							opacity: .2;
						}

						li {
							margin: 0;
							padding: 0;

							&>a {
								padding: 12px 20px;
								display: flex;
								align-items: center;
								color: $menu_item_gray;
								border-bottom: none;
								height: 100%;
								width: 100%;
								white-space: nowrap;

								&:hover {
									background-color: $menu_bor_bot;
									//color: $footer_gray_bg;
								}
							}

							&.sub-menu-big {
								font-size: 18px;
							}

							&.sub-menu-little {
								font-size: 13px;
							}

							span {
								//background-color: #fff;
								width: 20px;
								height: 20px;
								background-size: contain;
								background-repeat: no-repeat;
								background-position: center;
								margin-right: 7px;

								&.model {
									background-image: url(../img/models.svg);
								}

								&.configurator {
									background-image: url(../img/configurator.svg);
								}

								&.params {
									background-image: url(../img/params.svg);
								}

								&.test {
									background-image: url(../img/series.svg);
								}
							}

							@media (min-width: 1080px) {

								&:hover>.sub-sub-menu,
								.sub-sub-menu:hover {
									display: block;
								}

								&:hover>.sub-sub-menu-preview,
								.sub-sub-menu-preview:hover {
									display: flex;
								}
							}
						}

						//height: 100%;
					}

					.sub-sub-menu {
						display: none;
						background-color: $footer_gray_bg;
						position: absolute;
						right: 0;
						transform: translateX(100%);
						top: -10px;
						margin: 0;
						padding: 10px 0;
						border-left: 1px solid rgba($color: $menu_item_gray, $alpha: 0.2);
						min-height: calc(100%);

						li {
							@media (min-width: 1080px) {

								&:hover>.sub-sub-menu-preview,
								.sub-sub-menu-preview:hover {
									display: flex;
									top: 0;
									min-height: calc(100% - 40px);
								}
							}
						}

						&-preview {
							min-height: calc(100% - 20px);
							background-color: $footer_gray_bg;
							position: absolute;
							top: -10px;
							right: 0;
							transform: translateX(100%);
							padding: 20px;
							//display: flex;
							display: none;
							flex-direction: column;
							justify-content: center;
							align-items: center;

							p {
								font-size: 20px;
								color: $menu_item_light;
							}

							&>a {
								font-size: 15px;
								color: $menu_item_gray;
								border: none;
								text-decoration: underline;

								&:hover {
									color: $fast_link_item_gray;
								}
							}
						}
					}
				}

				@media (min-width: 1080px) {

					&:hover>.drop-down,
					.drop-down:hover {
						display: flex;
					}
				}
			}
		}
	}





	.lang {
		margin-block-start: 1em;
		margin-block-end: 1em;
		border-bottom: 2px solid transparent;
		//margin-left: 20px;

		a {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 600;
			text-decoration: none;
			color: $menu_item_light;
		}
	}
}

.footer {
	//display: none;
	padding: 20px 50px;

	background-color: $footer_gray_bg;
	font-family: 'Play';

	.contacts {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.social {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&-link {
				display: flex;
				align-items: center;

				&:nth-child(2) {
					margin: 0 30px;
				}

				a {
					text-decoration: none;
					display: flex;
					flex-direction: row;
					color: $menu_item_light;

					p {
						font-size: 14px;
						text-transform: uppercase;

						span {
							margin-top: 5px;
							text-transform: none;
							font-size: 10px;
							display: block;
						}
					}
				}
			}

			&-logo {
				width: 32px;
				display: flex;
				align-items: center;
				margin-right: 10px;

				img {
					width: 100%;
				}
			}
		}

		.phone {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&-link {
				display: flex;
				align-items: center;

				&:nth-child(2) {
					margin: 0 30px;
				}

				a {
					text-decoration: none;
					display: flex;
					flex-direction: row;
					color: $menu_item_light;

					p {
						font-size: 14px;
						text-transform: uppercase;

						span {
							margin-top: 5px;
							text-transform: none;
							font-size: 10px;
							display: block;
						}
					}
				}
			}

			&-logo {
				width: 32px;
				display: flex;
				align-items: center;
				margin-right: 10px;

				img {
					width: 100%;
				}
			}

		}
	}

	&-nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&-col {
			list-style: none;
			padding: 0;

			&:nth-child(1) {
				text-transform: uppercase;

				li:nth-child(1) {
					text-transform: none;
				}
			}

			&:nth-child(4) {
				li:nth-child(2) {
					a {
						color: $menu_item_light;
						font-size: 11px;
					}
				}
			}

			li {
				margin: 8px 0;

				a {
					color: $menu_item_gray;
					text-decoration: none;
					font-size: 10px;
					transition: all 0.2s;

					&:hover {
						color: $menu_bor_bot;
					}
				}

				&:nth-child(1) {
					a {
						color: $menu_item_light;
						font-size: 11px;
					}
				}

				&.up-line {
					margin-top: 8px;
					padding-top: 5px;
					border-top: 1px solid $menu_item_gray;
					text-transform: none;
				}
			}
		}
	}

	.fast-links-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.fast-links {

		display: flex;
		//align-items: center;
		flex-direction: column;

		h5 {
			margin: 0;
			color: $menu_item_light;
			font-weight: 500;
			font-size: 13px;
			margin-bottom: 10px;
		}

		&-list {
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: flex-start;


			li {
				position: relative;
				list-style: none;
				margin: 10px 0;
				margin-left: 50px;

				&:nth-child(1) {
					margin-left: 27.5px;
				}

				&:before {
					content: '';
					position: absolute;
					width: 16px;
					height: 16px;
					left: -25px;
					top: 50%;
					transform: translateY(-50%);
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}

				a {
					color: $fast_link_item_gray;
					text-decoration: none;
					font-size: 14px;

				}
			}

			&-series:before {
				background-image: url(../img/series.svg);
			}

			&-models:before {
				background-image: url(../img/models.svg);
			}

			&-configurator:before {
				background-image: url(../img/configurator.svg);
			}

			&-params:before {
				background-image: url(../img/params.svg);
			}
		}

	}

	.partners {
		ul {
			display: flex;
			flex-direction: row;
			list-style: none;

			li {
				&:nth-child(2) {
					margin: 0 10px;
					padding: 0 10px;
					border-left: 1px solid $menu_item_gray;
					border-right: 1px solid $menu_item_gray;
				}

				a {
					img {
						width: 100px;
					}
				}
			}
		}
	}


}

.copyright {
	//display: none;
	font-family: 'Play';
	//display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 15px 0;
	background-color: #000;

	p {
		color: $menu_item_light;
		font-size: 11px;
		margin: 0;

		span {
			color: $menu_item_gray;
			display: block;
			font-size: 10px;
		}
	}

	ul {
		display: flex;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			line-height: 10px;

			&:nth-child(2) {
				margin: 0 3px;
				padding: 0 3px;
				border-left: 1px solid $menu_item_gray;
				border-right: 1px solid $menu_item_gray;

			}

			a {
				color: $menu_bor_bot;
				text-decoration: none;
				font-size: 10px;
				transition: all 0.2s;

				&:hover {
					color: $menu_item_light;
				}

			}
		}
	}
}
































@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";